<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.dao.UserMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into user (id,account_id,token,gmt_create,gmt_modified,avatar_url,name)
        values
        (#{id},#{accountId},#{token},#{gmtCreate},#{gmtModified},#{avatarUrl},#{name})
    </insert>

    <select id="getUserByToken" resultType="user">
        select * from user where token = #{token}
    </select>

    <select id="getUserById" resultType="user">
        select * from user where id = #{id}
    </select>

    <select id="getUserByAccountId" resultType="user">
        select * from user where account_id = #{accountId}
    </select>

    <update id="update">
        update user
        set
        name = #{name},token=#{token},gmt_modified=#{gmtModified},avatar_url=#{avatarUrl}
        where id = #{id}
    </update>
</mapper>